
<h1 class="text-center">Great Cocktails</h1>

<div class="text-center">
  <%= link_to "Add your own cocktail", new_cocktail_path, class: "btn btn-primary"%>
</div>

<div class="container">
  <div class="row">
    <!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');"> -->
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/613037/pexels-photo-613037.jpeg?auto=compress&cs=tinysrgb&h=350');">
        <!-- <div class="card-category">Popular</div> -->
          <div class="card-description">
          <h2><%= cocktail.name %></h2>
          <% cocktail.doses.each do |dose| %>
          <p><%= dose.description %></p>
          <% end %>
        </div>
        <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
        <!-- <a class="card-link" href="#" ></a> -->
      </div>
    </div>
    <% end %>
  </div>
</div>
<!--<%  %>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Shanghai</h2>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div> -->
