
<!-- <h1 class="text-center">Great Cocktails</h1> -->

<!-- <div class="text-center">
  <%= link_to "Add your own cocktail", new_cocktail_path, class: "btn btn-primary"%>
</div> -->
<div class="container-banner">
  <%= render "shared/banner" %>
</div>

<div class="container-card">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('<%= image_path "cocktail2.jpg" %>')">
          <div class="card-description">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail), class:"card-name" %></h2>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
