  <div class="banner-container">
    <div class="banner-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168, 0.1) 0%, rgba(0,36,61,0.4) 50%), url('<%= image_url 'cocktail4.jpg' %>');">

    <div class="banner-content">
      <h1>Momo's Cocktail Bar</h1>
      <p>Choose your cocktail for tonight</p>
    </div>
  </div>
</div>
