/* Main navbar */
.navbar-cocktail {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: yellow;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F2F7F4;
}

.navbar-cocktail .navbar-cocktail-right i {
  color: pink;
}
/* Logo */
.navbar-cocktail-brand .cocktail-logo {
  height: 45px;
}

.navbar-cocktail-brand .cocktail-logo:hover {
  height: 46px;
}

/* Right section */
.navbar-cocktail-add-btn .btn {
  color: white;
  background-color: #C92361;
  border-radius: 5px;
  border-color: #C92361;
  padding: 7px 17px;

}

.navbar-cocktail-add-btn .btn:hover {
  background-color: #B72059;
}
/* Basic navbar item */
.navbar-cocktail-item {
  cursor: pointer;
  padding: 0 20px;
}
